---
---
<footer class="bg-gray-200 flex flex-col items-center mt-12 p-20">
  <p class="font-semibold">2023 © Astroid</p>
  <ul class="flex gap-5 mt-2">
    <a class="font-semibold"  href="#">Privacy Policy</a>
    <a class="font-semibold"   href="#">Terms and Conditions</a>
    <a class="font-semibold"  href="#">Cookies Policy</a>
  </ul>
</footer>
